@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color:#B88E2F;
    --hover-color:#A47E2A;
    --shadow-color:#6f551d;
    --secondry-color:#FFF3E3;
    --main-color:#FFFFFF;
    --productDetail-text-color:#9F9F9F;
}